{% extends 'core/base.html' %}

{% block titulo %}Sistema de Gestión para Seguridad en el Trabajo{% endblock %}

{% block contenido %}
    {% load static %}

    <section class="jumbotron fondo">
        <section class="container">
            <section class="row">
                <div class="col-8 align-self-end"></div>
                <div class="col-4 align-self-end mt-5">
                    <div class="card">
                        <div class="card-body">
                          <h4 class="card-title text-center text-success">{{ titulo }}</h4>
                          <p class="card-text text-muted text-center">{{ mensaje }}<br><br>
                            <a href="{% url 'login' %}" class="text-center col-6 btn btn-primary btn-lg">{{ boton }}</a>
                          </p>
                        </div>
                    </div>    
                </div>
            </section>
        </section>
    </section>
    
    <section class="container">
        <div style="color: black">
            <br><br>
            <h1 class="text-primary text-center" >Equipo de Desarrollo</h1>
            <br>
            <p class="caption">Somos estudiantes del grupo Python-1J de la Fundacion View-Comfenalco</p>
            <br>
            <div class="row">
                <div class="col-3 mt-3 text-center">
                    <div class="image-container">
                        <img style="border-radius: 50%; height:150px " src="{% static 'media/img/galeria/Eder.jpg' %}">
                    </div>
                </div>
                <div class="col-9 mt-3">
                    <h4>Eder Lara Trujillo</h4>
                    <p>Máster en Bigdata & analítica, analista de modelos de negocios y administración de bases de datos. Habilidades para trabajar en equipo en comunidades de: Desarrollo de Software, soluciones informáticas, evaluación de proyectos, Gerente de Business Intelligence, Analista Senior, BI Consultant, Analista Big Data, Técnico de Inteligencia de Negocio, Consultor Senior BI, Jefe de Proyecto Big Data.
    
                    </p>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-3 mt-3 text-center">
                    <div class="image-container">
                        <img style="border-radius: 50%; height:150px " src="{% static 'media/img/galeria/Anddy.jpg' %}">
                    </div>
                </div>
                <div class="col-9 mt-3">
                    <h4>Anddy Agudelo</h4>
                    <p>Ingeniero industrial, analista de datos, estudiante de Python-Django fundacion view y tripulante MinTic 2022. </p>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-3 mt-3 text-center">
                    <div class="image-container">
                        <img style="border-radius: 50%; height:150px " src="{% static 'media/img/galeria/Sergio.jpg' %}" >
                    </div>
                </div>
                <div class="col-9 mt-3">
                    <h4>Sergio Muñoz</h4>
                    <p>Estudiante en diseño y desarrollo web, técnico en sistemas, actualmente estudiante de Python-Django.</p>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-3 mt-3 text-center">
                    <div class="image-container">
                        <img style="border-radius: 50%; height:150px "  src="{% static 'media/img/galeria/Jorge.jpg' %}" >
                    </div>
                </div>
                <div class="col-9 mt-3">
                    <h4>Jorge Gil</h4>
                    <p>Odontologo ortodoncista UdeA, estudiante Python-Django.</p>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-3 mt-3 text-center">
                    <div class="image-container">
                        <img style="border-radius: 50%; height:150px "  src="{% static 'media/img/galeria/Aleixo.jpg' %}" >
                    </div>
                </div>
                <div class="col-9 mt-3">
                    <h4>Aleixo Pineda</h4>
                    <p>Ingeniero Electrónico, diplomado en proyectos, estudiante Python-Django y estudiante en desarrollo de Software.</p>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-3 mt-3 text-center">
                    <div class="image-container">
                        <img style="border-radius: 50%; height:150px "  src="{% static 'media/img/galeria/Michael.jpg' %}" >
                    </div>
                </div>
                <div class="col-9 mt-3">
                    <h4>Michael Tarazona</h4>
                    <p>Estudiante de Ingeniería Electrónica del ITM, estudiante Python-Django y tripulante MISION TIC.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}