{% extends 'core/base.html' %}

{% block titulo %}Ingreso Usuario {% endblock %}

{% block contenido %}
{% load static %}


<h1>Formulario para cargar los documentos</h1>
<form class="row g-3" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="col-auto">
        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
      </div>
      <div class="col-auto">
          <input class="form-control" type="file" id="file" name="file" >
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Guardar</button>
      </div>
    </form>

{% endblock %}