{% extends 'core/base.html' %}

{% block titulo %}comite {% endblock %}

{% block contenido %}
{% load static %}

<div><h1 class="text-center">COMITES SGSST</h1></div>
<div>formulario inscripcion miembros de comite</div>
<div>{{nombcomite}}</div>

<div class="btn-group-vertical"><h3 class="text">DESCARGA EL FORMATO</h3>
    <li><a class="dropdown-item" href="#">COPASST</a></li>
    <li><a class="dropdown-item" href="#">COCOLA</a></li>
    <li><a class="dropdown-item" href="#">BRIGADA DE EMERGENCIA</a></li>
</div>

{% endblock %}